<div class="sidebar">
  <ul>
    <li><a href="/">Dashboard</a></li>

    <li class="dropdown">
      <a class="" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        Category
      </a>
      <ul class="dropdown-menu cat" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="/category">Categories</a></li>
        <li>
          <a class="dropdown-item" href="/category/create">Add-Category</a>
        </li>
      </ul>
    </li>
    <li class="dropdown">
      <a class="" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        Sub Category
      </a>
      <ul class="dropdown-menu cat" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="/subcategory">Sub Categories</a></li>
        <li>
          <a class="dropdown-item" href="/subcategory/create">Add Sub-Category</a>
        </li>
      </ul>
    </li>
    <li class="dropdown">
      <a class="" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        Extra Category
      </a>
      <ul class="dropdown-menu cat" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="/extracategory">Extra Categories</a></li>
        <li>
          <a class="dropdown-item" href="/extracategory/create">Add Sub-Category</a>
        </li>
      </ul>
    </li>

    <li class="dropdown">
      <a class="" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        Product
      </a>
      <ul class="dropdown-menu cat" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="/product">Product</a></li>
        <li><a class="dropdown-item" href="/product/create">Add Product</a></li>
      </ul>
    </li>
  </ul>
</div>