<div class="sidebar">
    <ul>
      <li><a href="#">Dashboard</a></li>
      
      
      <li class="dropdown"> 
        <a class="" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Category
          </a>
          <ul class="dropdown-menu cat " aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item " href="/category">Categories</a></li>
            <li><a class="dropdown-item" href="/addCat">Add-Category</a></li>
            
          </ul>
  </li>
  
  <li class="dropdown"> 
    <a class="" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        Product
      </a>
      <ul class="dropdown-menu cat" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="#">Product</a></li>
        <li><a class="dropdown-item" href="#">all-Products</a></li>
      </ul>
  </li>
  
    </ul>
  </div>