<%- include('../partials/header') %> <%- include('../partials/sidebar') %>

    <div class="content">
      <%- include('../partials/navbar') %>
        <h2>Add Sub Category</h2>
        <form method="post">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Sub Category</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="name" />
          </div>
          <button type="submit" class="btn btn-primary">Add</button>
        </form>
    </div>

    <%- include('../partials/footer') %>