
<%- include('../partials/header') %>
<%- include('../partials/sidebar') %>

<div class="content">
  <h1>Welcome to the Admin Panel</h1>
  <p>This is where you can manage your website.</p>
</div>
<%- include('../partials/footer') %>