<%- include('../partials/header') %>
    <div class="content">
        <%- include('../partials/navbar') %>
            <div class="container mt-5">
                <h2>Login</h2>
                <form action="" method="POST">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" name="email" required>
                    </div>
                    <div class="form-group mb-2">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
            </div>
    </div>
    <%- include('../partials/footer') %>